In [1]:
import yfinance as yf
import pandas as pd

#國泰金(2882.TW),新光金(2888.TW),中信金(2891.TW),台新金(2887.TW)
all_data = {ticker:yf.download(ticker) for ticker in ['2882.TW','2888.TW','2891.TW','2887.TW']}

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [2]:
all_data1 = {ticker:df['Adj Close'] for ticker,df in all_data.items()}
prices_df = pd.DataFrame(all_data1)

prices_df.columns = ['國泰金','新光金','中信金','台新金']
prices_df1 = prices_df.dropna()
prices_df1_2023 = prices_df1.loc['2023']

#平均差
prices_df1_2023_avg_diff = prices_df1_2023.pct_change()
prices_df1_2023_avg_diff.dropna()

#每日差
prices_df1_2023_day_diff = prices_df1_2023 - prices_df1_2023.shift(1)
prices_df1_2023_day_diff.dropna()

#相關係數
prices_df1_2023_avg_diff.corr()

          國泰金       新光金       中信金       台新金
國泰金  1.000000  0.611739  0.560722  0.549924
新光金  0.611739  1.000000  0.396487  0.410888
中信金  0.560722  0.396487  1.000000  0.518583
台新金  0.549924  0.410888  0.518583  1.000000

In [5]:
#input每一欄series,output每一欄的series
def call(s):
    min = s.min()
    max = s.max()
    max_date = s.idxmax()
    min_date = s.idxmin()
    return pd.Series([max, min,max_date,min_date],index=['最高價','最低價','最高價日期','最低價日期'])

df_high_low_value = prices_df1_2023.apply(call)
df_high_low_value

,國泰金,新光金,中信金,台新金
最高價,45.648304,9.83,27.176025,17.105072
最低價,37.808987,7.99,19.154709,13.100577
最高價日期,2023-08-01 00:00:00,2023-08-01 00:00:00,2023-12-14 00:00:00,2023-07-26 00:00:00
最低價日期,2023-01-03 00:00:00,2023-03-20 00:00:00,2023-03-17 00:00:00,2023-01-03 00:00:00

In [11]:
#input每一欄series,output每一欄的series
def call(s):
    max = s.max()
    max_date = s.idxmax()
    max_year = max_date.year
    max_month = max_date.month
    max_day = max_date.day
    max_str = f'{max:.4f} ({max_year}-{max_month}-{max_day})'

    min = s.min()
    min_date = s.idxmin()
    min_year = min_date.year
    min_month = min_date.month
    min_day = min_date.day
    min_str = f'{min:.4f} ({min_year}-{min_month}-{min_day})'

    #print(type(max_date))#是datetime的timestamp
    #print(max_date.year)
    return pd.Series([max_str, min_str],index=['最高價','最低價'])

df_high_low_value = prices_df1_2023.apply(call)
df_high_low_value

,國泰金,新光金,中信金,台新金
最高價,45.6483 (2023-8-1),9.8300 (2023-8-1),27.1760 (2023-12-14),17.1051 (2023-7-26)
最低價,37.8090 (2023-1-3),7.9900 (2023-3-20),19.1547 (2023-3-17),13.1006 (2023-1-3)