In [10]:
#level 多維資料,2個以上索引
import numpy as np
import pandas as pd
#series 一維資料
#2個索引,stack堆疊資料,2維資料->dataframe unstack非堆疊資料
data = pd.Series(np.random.randn(9),
                    index=[['a','a','a','b','b','c','c','d','d'],
                    [1,2,3,1,2,3,1,2,3]])
data

a  1   -0.162555
   2   -0.842659
   3    1.791954
b  1    1.741884
   2    0.000326
c  3   -1.021348
   1    0.144787
d  2   -0.936154
   3   -0.420970
dtype: float64

In [13]:
#9個值,但12個儲存格,所以有nan
df1 = data.unstack()
df1

          1         2         3
a -0.162555 -0.842659  1.791954
b  1.741884  0.000326       NaN
c  0.144787       NaN -1.021348
d       NaN -0.936154 -0.420970

In [14]:
df1.stack()

a  1   -0.162555
   2   -0.842659
   3    1.791954
b  1    1.741884
   2    0.000326
c  1    0.144787
   3   -1.021348
d  2   -0.936154
   3   -0.420970
dtype: float64

In [17]:
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                    index=[['a','a','b','b'],[1, 2, 1, 2]],
                    columns=[['台北','台北','台中'],['Green','Red','Green']])
frame

       台北        台中
    Green Red Green
a 1     0   1     2
  2     3   4     5
b 1     6   7     8
  2     9  10    11

In [18]:
#加上index的名稱
frame.index.names = ['key1','key2']
frame.columns.names = ['縣市','顏色']
frame

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [19]:
#stack變長的資料
frame.stack(level='縣市')

/tmp/ipykernel_53900/2426442629.py:2: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  frame.stack(level='縣市')

顏色            Green   Red
key1 key2 縣市
a    1    台中      2   NaN
          台北      0   1.0
     2    台中      5   NaN
          台北      3   4.0
b    1    台中      8   NaN
          台北      6   7.0
     2    台中     11   NaN
          台北      9  10.0

In [20]:
frame.stack(level=['縣市','顏色'])

/tmp/ipykernel_53900/3186678627.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  frame.stack(level=['縣市','顏色'])

key1  key2  縣市  顏色
a     1     台中  Green     2.0
            台北  Green     0.0
                Red       1.0
      2     台中  Green     5.0
            台北  Green     3.0
                Red       4.0
b     1     台中  Green     8.0
            台北  Green     6.0
                Red       7.0
      2     台中  Green    11.0
            台北  Green     9.0
                Red      10.0
dtype: float64