In [1]:
#key1,key2是字串,且有重複,可分為a,b二組
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})

In [2]:
#分組groupby後統計,最後合併
gb = df.groupby(by='key1')
gb.sum()

           key2     data1     data2
key1
a     onetwoone -2.091182  0.411181
b        onetwo -0.750934 -0.011581

In [4]:
#分組groupby後統計,最後合併,subscribe只要data1及data2二個欄位
gb1 = df.groupby(by='key1')[['data1','data2']]
gb1.sum()

         data1     data2
key1
a    -2.091182  0.411181
b    -0.750934 -0.011581