In [ ]:
#csv轉DataFrame
import pandas as pd

df = pd.read_csv('students.csv',index_col=0)
df

In [ ]:
#選取欄位
df['國文']

In [ ]:
#選取多欄位
df[['國文','英文','數學']]

In [ ]:
#陣列運算
#建立新欄位
sum = df['國文']+df['英文']+df['數學']+df['探索']+df['地理']
average = sum/5
df['總分'] = sum
df['平均'] = average
df

In [12]:
df.loc['王梅劭']

國文     95.0
英文     58.0
數學     92.0
地理     90.0
探索     74.0
總分    409.0
平均     81.8
Name: 王梅劭, dtype: float64

In [15]:
df.iloc[:5,:]

     國文  英文  數學  地理  探索   總分    平均
王梅劭  95  58  92  90  74  409  81.8
鄭憲定  85  50  57  68  52  312  62.4
吳淑惠  72  86  60  78  59  355  71.0
黃佩芬  70  84  64  88  67  373  74.6
盧冠發  59  63  74  65  74  335  67.0