In [3]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a','a','b','b','a'],
                  'key2':['one','two','one','two','one'],
                  'data1':np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -1.222132  0.427666
1    a  two  0.803484  1.172490
2    b  one -0.031795 -0.604949
3    b  two  0.181988  0.495001
4    a  one  1.550925 -1.174505

In [4]:
#Series.groupby()
s_gb =df['data1'].groupby(by=df['key1'])
len(s_gb)
s_gb.sum()

key1
a    1.132277
b    0.150192
Name: data1, dtype: float64

In [12]:
s_gb1 = df['data1'].groupby(by=[df['key1'],df['key2']])
display(s_gb1)
#長度
len(s_gb1)
s2d = s_gb1.sum()
display(s2d)
#變為非堆疊資料,dataframe
s2d.unstack()

key1  key2
a     one     0.328793
      two     0.803484
b     one    -0.031795
      two     0.181988
Name: data1, dtype: float64

key2       one       two
key1
a     0.328793  0.803484
b    -0.031795  0.181988

In [16]:
#Dataframe.groupby()較簡單
d_gb = df.groupby(by='key1')
d_gb['data1'].sum()

key1
a    1.132277
b    0.150192
Name: data1, dtype: float64

In [19]:
#Dataframe.groupby()較簡單
s2d1 = df.groupby(by=['key1','key2'])['data1'].sum()
s2d1.unstack()

key2       one       two
key1
a     0.328793  0.803484
b    -0.031795  0.181988