In [1]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3),
             columns=list('bde'),
             index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北  0.276984  1.122023  1.501070
台中  0.720528 -1.654651  0.629016
台南 -0.334737  0.133249 -1.329742
高雄 -0.339681  1.720409  0.355632

In [2]:
#dataFame的實體方法
frame.abs()

           b         d         e
台北  0.276984  1.122023  1.501070
台中  0.720528  1.654651  0.629016
台南  0.334737  0.133249  1.329742
高雄  0.339681  1.720409  0.355632

In [3]:
#使用numpy function
np.abs(frame)

           b         d         e
台北  0.276984  1.122023  1.501070
台中  0.720528  1.654651  0.629016
台南  0.334737  0.133249  1.329742
高雄  0.339681  1.720409  0.355632

In [4]:
frame

           b         d         e
台北  0.276984  1.122023  1.501070
台中  0.720528 -1.654651  0.629016
台南 -0.334737  0.133249 -1.329742
高雄 -0.339681  1.720409  0.355632

In [5]:
#series最大減最小值
def abc(s):
    return s.max()-s.min()
frame.apply(abc)

b    1.060209
d    3.375061
e    2.830812
dtype: float64

In [6]:
#列最大減最小值
frame.apply(abc,axis=1)

台北    1.224086
台中    2.375180
台南    1.462991
高雄    2.060090
dtype: float64