In [1]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3),
             columns=list('bde'),
             index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北 -0.785696 -0.223397 -0.300885
台中 -0.726185 -0.713469 -1.377946
台南 -0.926904  1.028395 -0.122639
高雄 -0.223312  0.210121 -0.921145

In [2]:
#map(function),傳進一個值,return value覆蓋原數值
def formap(value):
    return f'{value:.3f}%'

frame.map(formap)

          b        d        e
台北  -0.786%  -0.223%  -0.301%
台中  -0.726%  -0.713%  -1.378%
台南  -0.927%   1.028%  -0.123%
高雄  -0.223%   0.210%  -0.921%